* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px dash red;
}

:root {
  --primary-color: #d282a6;
  --secondary-color:#6564DB;
    --background-color:#FE4A49;
  --content-background:#6B0F1A;
  --text-color:#F4F4F6;
  --white: white;
  
  /* spacing*/
  
  --spacing-small: 0.5rem/*8px */
    --spacing-medium: 1rem; /*16px */
  --spacing-large: 1.5rem; /*24px */
  --spacing-xlarge: 2rem; /*32px */
  
  /*typography*/
  --font-family: Arial, sans-serif;
  --font-size-large: 2.5rem;
  --line-height: 1.6;
  
}

.nav-link:hover {
  background-color: var(--primary-color);
}
.content-link{
  color:var(--primary-color);
}

body {
  font-family: var(--font-family);
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: white;

}

.site-header {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  textalign: center;
  margin-bottom: 1rem;
}
.site-title {
  font-size: var(--font-size-large);
  margin: 0;
}
.main-content {
  max-width: 800px;
  margin: 2rem auto;
  padding: var(--spacing-xlarge);
  background-color: var(--content-background);
  border-radius: vae (--spacing-small);
  box-shadow: 0 2px 10px rgba (0, 0, 0, 0);
  
  text-align: center;
  line-height: 1.5em 0;
}

.facts-grid,
.intro-section,
.hobbies-section,
.facts-section {
  padding: 1.5rem 0;
  margin-bottom: var(--spacing-large);
  border-bottom: 5px solid #eee;
}
.main-content:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
/*/ Highlights */
.highlight {
  background-color: var(--primary-color);
  color: white;
  padding: 2px 6px;
  
}
.site-footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: var(--spacind-medium);
  margin-top: var(--spacing-xlarge);
}
.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}
img {
  max-width: 100%;
  height: auto;
}
.hobby {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    gap: 2rem;
  
}
@keyframe fadeSlidein 0% {
  opacity: 0;
  transform: translateY(20px)
}
100% {
 opacity: 1;
  transform: translateY(0);
     }

  

}
  
}
